# Core Framework
langchain
langchain-community
langchain-core
langchain-ollama
langchain-huggingface

# Vector Store
chromadb

# Data / NLP Utilities
# datasets
numpy
scikit-learn
nltk

# Embeddings
sentence-transformers
huggingface-hub

# LLM Backend
ollama

# Evaluation
ragas==0.3.9
rouge-score

# General
# pydantic
